
 html, body {
     height: 100%;
 }

 img {
     max-width: 100%;
     height: auto;
 }

 .container-centered {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .bg-custom {
     background-color: beige;
 }

 .bg-custom-index {
     background-image: url("../images/clay-banks-fEVaiLwWvlU-unsplash.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     min-height: 100vh;
 }

 .bg-custom-client-zone {
     background-color: azure;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
 }

 .bg-custom-employee {
     background-image: url("../images/vinyl-record-wqof7zz7iiuinshh.jpg");
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     min-height: 100vh;
 }

 .card-custom {
     background-color: rgba(255, 255, 255, 0.9); /* Un fondo semi-transparente */
     border-radius: 10px;
     box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
 }

 .col {
         transform: scale(0.9); /* Reduce el tamaño al 80% */
 }

